.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main{
    background: linear-gradient(#35a, #11b);
    height: 600px;
}
h1{
    text-align: center;
    font-size: 3em;
}
footer{
    background-color: #3d4;
    width: 100%;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}
h4{
    text-align: center;
    font-size: 2em;
    align-self: center;
}